.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
}

.circle {
    display: inline-block;
    margin-left: 55px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.headerBackground {
    background-image:
        linear-gradient(45deg,
            rgba(32, 32, 32, 0.9),
            rgba(22, 22, 22, 0.9)), url(/Images/blueBG.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cta {
    background-image:
        linear-gradient(45deg,
            rgba(32, 32, 32, 0.9),
            rgba(22, 22, 22, 0.9)), url(/Images/lawCover.webp);
}